.section--concept {
  gap: 32px;
  padding-inline: 0;

  @media (width <= 768px) {
    padding-bottom: 60px;

    .section-header,
    .section-description {
      width: 100%;
      padding-inline: 24px;
    }
  }
}

.concept__media {
  width: 100%;
  height: 300px;

  @media (width <= 768px) {
    height: 280px;
  }
}
