.site {
  position: relative;
  overflow-x: clip;
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  padding-block: 80px;
  padding-inline: 32px;

  @media (width <= 768px) {
    padding-block: 60px;
    padding-inline: 24px;
  }
}

.section--hero {
  height: 620px;
  padding: 0;

  @media (width <= 768px) {
    height: 842px;
  }
}

.section--work,
.section--team,
.section--studio {
  width: min(100%, 1280px);
  margin-inline: auto;
}
