.site {
  width: min(100%, var(--container-max));
  margin-inline: auto;
  position: relative;
  overflow-x: visible;

  @media (max-width: 768px) {
    overflow-x: hidden;
  }
}

.section {
  position: relative;
  padding-inline: 32px;
  padding-block: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  @media (max-width: 768px) {
    padding-inline: 24px;
    padding-block: 60px;
  }
}

.section--hero {
  padding: 0;
  height: 620px;

  @media (min-width: 769px) {
    width: 100vw;
    margin-inline: calc(50% - 50vw);
  }

  @media (max-width: 768px) {
    height: 842px;
  }
}

.section--work,
.section--team,
.section--studio {
  width: min(100%, 1280px);
  margin-inline: auto;
}
